/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Body */
body {
	max-width: 1400px;
	margin: 0 auto;
	box-sizing: border-box;
	line-height: 1.5;
	font-family: 'Lato', sans-serif;
	color: #2F4F4F;
	font-weight: 500;
	background-image: linear-gradient(to bottom right, #fff8e7, #faf0e6);
}

/* Grid */
.container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 60px repeat(4, auto) 60px;
	grid-template-areas:
		"header			header"
		"intro			work-exp"
		"tech-skills	work-exp"
		"languages		education"
		"contact		education"
		"footer			footer";
}

@media screen and (max-width: 768px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: 60px repeat(6, auto) 60px;
		grid-template-areas:
			"header"
			"intro"
			"tech-skills"
			"work-exp"
			"education"
			"languages"
			"contact"
			"footer";
	}
	
	.header,
	.tech-skills,
	.work-exp,
	.education,
	.languages,
	.footer {
		background-image: linear-gradient(to bottom right, #fff8e7, #faf0e6);
	}

	.intro,
	.contact {
		background-color: #94dee7;
	}
}

.header {
	grid-area: header;
}

.photo {
	grid-area: photo;
}

.intro {
	grid-area: intro;
}

.contact {
	grid-area: contact;
}

.tech-skills {
	grid-area: tech-skills;
}

.languages {
	grid-area: languages;
}

.work-exp {
	grid-area: work-exp;
}

.education {
	grid-area: education;
}

.footer {
	grid-area: footer;
}

.col-1 {
	background-color: #94dee7;
}

.col-1,
.col-2 {
	padding: 20px 30px;
}

/* Typography */
h1 {
	font-size: 40px;
	font-family: 'Lora', serif;
}

h2 {
	font-size: 25px;
	border-bottom: 1px solid darkgray;
	background-color: #2F4F4F;
	color: white;
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;;
}

h3 {
	font-size: 20px;
	font-weight: 800;
}

h4 {
	font-size: 18px;
	font-style: italic;
}

h5 {
	font-size: 16px;
}

ul {
	text-indent: -15px;
	margin-left: 15px;
}

li {
	list-style-type: circle;
	list-style-position: inside;
	padding: 0 20px;
	font-size: 16px;
}

/* Intro */
.intro {
	text-align: center;
}

.profile-photo {
	height: 300px;
	border-radius: 50%;
	border: 5px solid #faf0e6;
}

/* Contact */
.contact-links {
	display: flex;
	justify-content: center;
	font-size: 24px;
}

.fab,
.fas {
	padding: 5px 20px;
}


/* Professional Experience */
.work-exp ul {
	padding-bottom: 20px;
}

/* Education */
.education h4 {
	padding-bottom: 20px;
}

.work-exp ul:last-child {
	padding-bottom: 0;
}

/* Footer */
.footer {
	font-size: 14px;
	align-self: end;
	padding-left: 10px;
}